<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	th:with="host = 'http://'+${context.get('REQUEST_HOST')+(context.get('REQUEST_PORT')?':'+context.get('REQUEST_PORT'):'')}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body  th:with="m = ${context.get('authenticatable')}">
	dear <span th:text="${m.firstName}" th:remove="tag"></span>
	<span th:text="${m.lastName}" th:remove="tag"></span>, the password reset link:
	<a th:href="${host}+'/passwordReset?validationId='+${context.get('validationId')}"
		target="_blank">RESET NOW</a>
</body>
</html>
