<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body class="general"
	th:with="m=${context.get('authenticatable')}">
	<div class="jumbotron">
	<div class="container">
		<h3>password changed</h3>
	</div>
	</div>
	<div class="container">
		your password was successfully changed
	</div>
</body>
</html>

