<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>registration success</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="registration">
	<div class="jumbotron">
		<div class="container">
			<h3>confirmation succeeded</h3>
		</div>
	</div>
	<div>Your account is ready to be used now, you can login
	</div>
</body>
</html>
